.App-logo {
  width: 128px;
  margin: 6px 1px -10px 6px;
}

.App-header img {
  height: 41px;
  margin: 9px 0 0 15px;
}

.App-link {
  color: #09d3ac;
}

.calc {
  margin: 30px;
  border-radius: 5px;
  background-color: #1795d4;
  width: 186px;
}